@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px; // Adicionando bordas arredondadas

    &--primary {
        color: #fff;
        background-color: variables.$green2;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center; // Centralizando o conteúdo no flex container
    }
}
